/** header */
.imgcosimo img{
    width: 50px;
    border-radius: 20px;
}

.colorcontainer{
    background-color: #2E2E2E;
    color: white;
}

.project{
    cursor: pointer;
}

.project:hover{
    color: #AADA3F;
}

.jumbotron{
    background-image: url(/download.jpg);
    color: white;
    background-position: center;
}
.name{
    color: #AADA3F;
    font-weight: bolder;
}
.fullstack{
    color:#e6e6e6;
    font-weight: bolder;
}

.imgpc img{
    width: 200px;
    animation: animazione  3s infinite linear;
}

.no_underline{
   text-decoration: none;
   list-style: none;
}
.button a{
    color: white;
    font-weight: bolder;
}



@keyframes animazione {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
    
}


/**  fine header */

/** inizio main **/

.master{
    background-color: #171C1F;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

main{
    background-color: #1E2326;
}

.chisono{
    color: #AADA3F;
    font-family: cursive;
    margin-top: 10px;
}

.descrizione{
    color: white;
}

.descrizione img{
    width: 100%;
}
.prova{

    display: flex;
    flex-wrap: wrap;


  }

  .ciao{
    border: 2px solid black;
    word-break: break-all;
    border-radius: 10px;

  }
  ul{
    list-style: none;
  }
  i{
    margin-top: 20px;
    font-size: 20px;

  }
  

