/** header */
.navbartop{
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #171C1F;
}
.imgcosimo img{
    width: 50px;
    border-radius: 20px;
}

.colorcontainer{
    background-color: #2E2E2E;
    color: white;
}

.project{
    cursor: pointer;
}

.project:hover{
    color: #AADA3F;
}

.jumbotron{
    background-image: url(/download.jpg);
    color: white;
    background-position: center;
    margin-top: 80px;
    height: 90vh;

}

.bordo2{
    border-bottom: 1px solid  #AADA3F ;
}

.centrale{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
.name{
    color: #AADA3F;
    font-weight: bolder;
}
.fullstack{
    color:#e6e6e6;
    font-weight: bolder;
}

.imgpc img{
    width: 350px;
    animation: animazione  3s infinite linear;
}

.imgpc{
    text-align: center;
}


.no_underline{
   text-decoration: none;
   list-style: none;
}
.button a{
    color: white;
    font-weight: bolder;
}




@keyframes animazione {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
    
}


/**  fine header */

/** inizio main **/

.master{
    background-color: #171C1F;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}


main{
    background-color: #1E2326;
}

.chisono{
    color: #AADA3F;
    font-family: cursive;
    margin-top: 10px;
}

.descrizione{
    color: white;
}

.descrizione img{
    width: 100%;
}
.prova{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #171C1F;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;


  }

  .ciao{
    word-break: break-all;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px  #AADA3F;

  }
  i{
    margin-top: 20px;
    font-size: 15px;

  }
  
  .prova .ciao {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 3s, transform 2s;
  }
  .master {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 3s, transform 2s;
  }

  .animazione{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 3s, transform 2s;   
  }
  .animazione.active{ 
        opacity: 1;
        transform: translateY(0);
    }

    .animazione2{
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 3s, transform 2s;    
    }

    .animazione2.active{
        opacity: 1;
    transform: translateY(0); 
    }

  .master.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .prova .ciao.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .col-12 p {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 3s, transform 2s;
  }
  
  .col-12 p.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .abilita{
    width: 100%;
    height: 10px;
    background-color: white;
  }

  .abilita div{
    width: 99%;
    height: 10px;
    background-color: #AADA3F;
  }

  .teck{
    color: white;
  }

  .animazione{
    padding-bottom: 20px;
    background-color: #171C1F;
  }

  footer{
    background-color: black;
    color: white;
    padding-bottom: 10px;
  }
  main{
    padding-bottom: 10px;
  }
